server
{
    listen 3001;

    server_name noter-backend;

    location /
    {
        proxy_pass http://127.0.0.1:3000/;
    }

    location /protected_media/ {
        internal;

        # PROTECTED_MEDIA_URL is automatically replaced by:
        #     proxy_pass https://${NOTER_GS_MEDIA_BUCKET_NAME}.storage.googleapis.com/;
        # or  alias /media/;
        ${PROTECTED_MEDIA_URL}
    }
}
